@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway Regular'), url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway Bold';
    src: local('Raleway Bold'), url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway Light';
    src: local('Raleway Light'), url('../assets/fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'IBM Plex Mono Regular';
    src: local('IBM Plex Mono Regular'), url('../assets/fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: 'IBM Plex Mono Bold';
    src: local('IBM Plex Mono Bold'), url('../assets/fonts/IBMPlexMono-Bold.ttf');
}